
<p>Events: {{quakeList.length}}  Stations: {{stationList.length}}</p>


{{#leaflet-map bounds=bounds }}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  {{#each stationList as |s|}}
    {{#marker-layer lat=s.latitude lng=s.longitude class='stationMarker' }}
      {{#popup-layer}}
        <h3>Station: {{#link-to 'station.quakes' s }}{{s.codes }} {{s.latitude}} {{s.longitude}}{{/link-to}}</h3>
      {{/popup-layer}}
    {{/marker-layer}}
  {{/each}}

  {{#each plotQuakeList as |q|}}
    {{#circle-marker-layer lat=q.latitude lng=q.longitude radius=q.scaledMag }}
      {{#popup-layer}}
        <h3>Event: {{#link-to 'quakes.show.stations' q.quake }}{{format-iso-date q.quake.prefOrigin.time }} {{q.quake.prefMagnitude.magFormatted}} {{q.quake.prefMagnitude.magType}}{{/link-to}}</h3>
      {{/popup-layer}}
    {{/circle-marker-layer}}
  {{/each}}
{{/leaflet-map}}

{{yield}}
