<table >
  <thead>
    <th {{action "sortBy" "name"}}>Name</th>
    <th {{action "sortBy" "prefOrigin.time"}}>Time</th>
    <th {{action "sortBy" "prefMagnitude.value"}}>Mag</th>
    <th {{action "sortBy" "prefOrigin.latitude"}}>Lat</th>
    <th {{action "sortBy" "prefOrigin.longitude"}}>Lon</th>
    <th {{action "sortBy" "prefOrigin.depth"}}>Depth(km)</th>
    <th {{action "sortBy" "sodStatus"}}>Status</th>
    <th {{action "sortBy" "numSuccessfulStations"}}>Num</th>
    </thead>
  {{#each sortedQuakes as |e|}}
    <tr>
      <td>{{#link-to 'quakes.show.stations' e}}{{e.name}}{{/link-to}}</td>
      <td>{{format-iso-date e.prefOrigin.time }}</td>
      <td>{{e.prefMagnitude.magFormatted}} {{e.prefMagnitude.magType}}</td>
      <td>{{e.prefOrigin.latitudeFormatted}}</td>
      <td>{{e.prefOrigin.longitudeFormatted}}</td>
      <td>{{e.prefOrigin.depthFormatted}} km</td>
      <td>{{e.sodStatus}}</td>
      <td>{{e.numSuccessfulStations}}</td>
    </tr>
  {{/each}}
</table>

{{yield}}
