
<div class="quake-station-info.cmp">
<ul>
<li>Dist: {{format-number quakeStation.distdeg}}</li>
<li>Azimuth: {{format-number quakeStation.azimuth}}</li>
<li>Back Az: {{format-number quakeStation.backazimuth}}</li>
</ul>

<h4>Cookie Jar Measurements</h4>
<label>{{input type="checkbox" checked=showCookieJar}}{{#if showCookieJar}}<i class="icon-down-dir"></i>{{else}}<i class="icon-guage"></i>{{/if}}  {{#if showCookieJar}}Hide{{else}}Show{{/if}} CookieJar</label>
{{#liquid-spacer}}
  {{#if showCookieJar}}
{{#each quakeStation.ecps as |quakeVector|}}
<h5>{{#each quakeVector.channels as |channel|}}{{channel.locCode}}.{{channel.channelCode}}{{/each}}</h5>
{{raw-json-display rawJson=quakeVector.cookieJar}}
{{/each}}
  {{/if}}
{{/liquid-spacer}}
{{yield}}
</div>
