<div class="stationList">
<h5>Stations - {{stations.length}} </h5>

<ul>
  {{#each stations as |esp|}}
  <li>
{{#link-to 'station.quake' esp.station.id esp.id}}
{{esp.station.network.networkCode}}.{{esp.station.stationCode}}
{{/link-to}} {{esp.sodStatus}}
  </li>
  {{/each}}
</ul>

{{yield}}

</div>
