<div class="station-info">

<h3>Station: {{#link-to 'station.quakes' station }}
{{station.network.networkCode}}.{{station.stationCode}}
{{/link-to}}
</h3>

<ul>
<li>{{#link-to 'networks.show.stations' station.network }}
{{station.network.networkCode}}
{{/link-to}}</li>
<li>{{station.stationCode}}</li>
<li>{{station.id}}</li>
<li>{{station.name}}</li>
<li>{{station.description}}</li>
<li>{{format-iso-date station.startTime format='YYYY-MM-DD'}}
{{#if station.endTime}} to {{format-iso-date station.endTime format='YYYY-MM-DD'}}
{{else}}
until&#8230;
{{/if}}</li>
<li>{{station.elevation}} m</li>
<li>({{station.latitudeFormatted}}, {{station.longitudeFormatted}})</li>
</ul>

<h5>Channels</h5>

<label>{{input type="checkbox" checked=showChannels}} {{#if showChannels}}Hide{{else}}Show{{/if}} Channels</label>
  {{#liquid-spacer growDuration=250}}
    {{#if showChannels}}
      <table>
       <tr><th>Id</th>
           <th>Codes</th>
           <th>Start</th>
           <th>End</th>
           <th>Lat</th>
           <th>Lon</th>
           <th>Elev</th>
           <th>Depth</th>
           <th>Sps</th>
       </tr>
      {{#each station.channels as |chan|}}
        <tr><td>{{chan.id}}</td>
            <td> {{chan.siteCode}}.{{chan.channelCode}}</td>
            <td>{{chan.startTime}}</td> 
            <td>{{chan.endTime}}</td> 
            <td>{{chan.latitude}}</td> 
            <td>{{chan.longitude}}</td> 
            <td>{{chan.elevation}}</td> 
            <td>{{chan.depth}}</td> 
            <td>{{chan.sps}}</td> 
        </tr>
      {{/each}}
      </table>
    {{else}}
      {{station.channels.length}} channels.
    {{/if}}
  {{/liquid-spacer}}

</div>

