<div class="quake-info">

<table>
  <tbody>
    <tr>
      <td>Region</td>
      <td>{{@quake.name}}</td>
    </tr>
    <tr>
      <td>Time</td>
      <td>{{format-iso-date @quake.prefOrigin.time }}</td>
    </tr>
    <tr>
      <td>Mag</td>
      <td>{{@quake.prefMagnitude.magFormatted}} {{@quake.prefMagnitude.magType}}</td>
    </tr>
    <tr>
      <td>Depth</td>
      <td>{{@quake.prefOrigin.depthFormatted}} km</td>
    </tr>
    <tr>
      <td>Lat/Lon</td>
      <td>({{@quake.prefOrigin.latitudeFormatted}},{{@quake.prefOrigin.longitudeFormatted}})</td>
    </tr>
    <tr>
      <td>DbId</td>
      <td>{{@quake.id}}</td>
    </tr>
  </tbody>
</table>


{{yield}}
</div>
