

<table>
  <tbody>
    <tr>
      <td>Dist</td>
      <td>{{@quakeStation.distDegFormatted}} deg/ {{@quakeStation.distKmFormatted}} km</td>
    </tr>
    <tr>
      <td>Azimuth</td>
      <td>{{@quakeStation.azimuthFormatted}}</td>
    </tr>
    <tr>
      <td>Backazimuth</td>
      <td>{{@quakeStation.backazimuthFormatted}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{@quakeStation.sodStatus}}</td>
    </tr>
    <tr>
      <td>DbId</td>
      <td>{{@quakeStation.id}}</td>
    </tr>
  </tbody>
</table>

{{yield}}
