<div class="station-info">


<table>
  <tbody>
    <tr>
      <td>Network</td>
      <td><LinkTo @route='networks.network'  @model={{@station.network}}>
          {{@station.network.networkCode}}
        </LinkTo></td>
    </tr>
    <tr>
      <td>Station</td>
      <td><LinkTo @route='stations.station.quakes' @model={{@station}}>{{@station.stationCode}}</LinkTo></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{@station.site.name}}</td>
    </tr>
    <tr>
      <td>Desc</td>
      <td>{{@station.site.description}}</td>
    </tr>
    <tr>
      <td>Time Epoch</td>
      <td>{{format-iso-date @station.startTime format='YYYY-MM-DD'}}
      {{#if @station.endTime}} to {{format-iso-date @station.endTime format='YYYY-MM-DD'}}
      {{else}}
      until&#8230;
      {{/if}}</td>
    </tr>
    <tr>
      <td>Lat/Lon</td>
      <td>({{@station.latitudeFormatted}}, {{@station.longitudeFormatted}})</td>
    </tr>
    <tr>
      <td>Elevation</td>
      <td>{{@station.elevationFormatted}} m</td>
    </tr>
  </tbody>
</table>

<h5>Channels</h5>

<ShowHide @divTitle="Channels">
      <table>
       <tr><th>Id</th>
           <th>Codes</th>
           <th>Start</th>
           <th>End</th>
           <th>Lat</th>
           <th>Lon</th>
           <th>Elev</th>
           <th>Depth</th>
           <th>Sps</th>
       </tr>
      {{#each @station.channels as |chan|}}
        <tr><td>{{chan.id}}</td>
            <td> {{chan.locCode}}.{{chan.channelCode}}</td>
            <td>{{format-iso-date chan.startTime format='YYYY-MM-DD'}}</td>
            <td>{{format-iso-date chan.endTime format='YYYY-MM-DD'}}</td>
            <td>{{chan.latitudeFormatted}}</td>
            <td>{{chan.longitudeFormatted}}</td>
            <td>{{chan.elevationFormatted}}</td>
            <td>{{chan.depthFormatted}}</td>
            <td>{{chan.sps}}</td>
        </tr>
      {{/each}}
      </table>
  </ShowHide>
</div>



{{yield}}
