
<div class="quakeList">
  <h1>Quakes</h1>
  <h5>Found {{@model.length}} {{@this.sortedQuakes.length}}</h5>

  <ShowHide @divTitle="Map">
    <QuakeStationMap @quakes={{@model}} />
  </ShowHide>
  <ShowHide @divTitle="List">
    <QuakeList @quakes={{@model}}></QuakeList>
  </ShowHide>
</div>

{{outlet}}
