
<h3>Quake-Station Pair</h3>


<h3>Station: </h3>
<StationInfo @station={{@model.station}}>
</StationInfo>

<h3>Quake: </h3>
<QuakeInfo @quake={{@model.quake}}/>

<h3>Quake-Station</h3>
<table>
  <tbody>
    <tr>
      <td>Dist</td>
      <td>{{@model.distDegFormatted}} deg/ {{@model.distKmFormatted}} km</td>
    </tr>
    <tr>
      <td>Azimuth</td>
      <td>{{@model.azimuthFormatted}}</td>
    </tr>
    <tr>
      <td>Backazimuth</td>
      <td>{{@model.backazimuthFormatted}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{@model.sodStatus}}</td>
    </tr>
  </tbody>
</table>

{{outlet}}
