
<h3>Quake-Station Pair</h3>

<ShowHide @divTitle="Map">
  <div class="boxRow">
    <QuakeStationMap @quakeStations={{array @model}} />
  </div>
</ShowHide>
<ShowHide @divTitle="Info">
  <div class="boxRow">
    <div>
      <h3>Station: </h3>
      <StationInfo @station={{@model.station}}>
      </StationInfo>
    </div>
    <div>
      <h3>Quake: </h3>
      <QuakeInfo @quake={{@model.quake}}/>
    </div>
    <div>
      <h3>Quake-Station</h3>
      <QuakeStationInfo @quakeStation={{@model}}></QuakeStationInfo>
    </div>
  </div>
</ShowHide>

<ShowHide @divTitle="Seismograms">
{{#each @model.ecps as |qv|}}
<SeismogramDisplay @quakeVector={{qv}}></SeismogramDisplay>
{{/each}}
</ShowHide>

{{outlet}}
