
<h3>Quake-Station Pair</h3>

<StationInfo @station={{@model.station}}>
</StationInfo>

<QuakeInfo @quake={{@model.quake}}/>

<table>
  <tr>
    <td>sodStatus</td><td>{{@model.sodStatus}}</td>
  </tr>
  <tr>
    <td>distdeg</td><td>{{@model.distdeg}}</td>
  </tr>
  <tr>
    <td>azimuth</td><td>{{@model.azimuth}}</td>
  </tr>
  <tr>
    <td>backazimuth</td><td>{{@model.backazimuth}}</td>
  </tr>
</table>

{{outlet}}
