<form {{action "save" on="submit"}}>
<h2>{{errorMessage}}</h2>
  <p>
    <label> Name:
      {{input value=model.name}}
    </label>
  </p>
  <p>
    <label>User Name:
      {{input value=model.username }}
    </label>
  </p>
  <p>Event Sort:
<label>{{input click=(action "changeEventSort" "time") type="radio" name="eventSort" checked=true }} <span class="checkable">Time</span></label>
<label>{{input click=(action "changeEventSort" "mag") type="radio" name="eventSort"}} <span class="checkable">Mag</span></label>
  </p>
  <p>Station Sort:
<label>{{input click=(action "changeStationSort" "alpha") type="radio" name="stationSort" checked=true }} <span class="checkable">Alphabetical</span></label>
<label>{{input click=(action "changeStationSort" "distance") type="radio" name="stationSort"}} <span class="checkable">Distance</span></label>
  </p>
  <p>Primary Sort:
<label>{{input click=(action "changePrimarySort" "quake") type="radio" name="primarySort" checked=true }} <span class="checkable">Quake</span></label>
<label>{{input click=(action "changePrimarySort" "station") type="radio" name="primarySort"}} <span class="checkable">Station</span></label>
  </p>

<div>
  <h5>Measurement Tools</h5>
  <ul>
  {{#each model.tools as |tool|}}
    <li>{{tool.toolType}} {{tool.name}}</li>
  {{/each}}
  </ul>
  <p>Add Measurement Tool:</p>
  <p>
    <label>Tool Id:
      {{input value=toolName }}
    </label>
<select onchange={{action (mut toolType) value="target.value"}}>
  {{#each-in knownToolTypes as |toolTypeChoice toolConfig|}}
    <option value={{toolConfig.toolType}} selected={{eq toolType toolTypeChoice}}>{{toolConfig.display}}</option>
  {{/each-in}}
</select>
  <button {{action "addTool" toolType toolName }}>Add Tool</button>
  </p>
</div>
  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button>
</form>

