
<span>Letter Grade: "{{measurement.name}}"</span>
{{#each gradeList as |gradeLetter|}}
  <label for={{gradeLetter}}>
  {{#if (eq measurement.value gradeLetter)}}
    <input {{action 'changeLetterGrade' gradeLetter}} type="radio" value={{gradeLetter}} name="grade" id={{gradeLetter}} checked >
  {{else}}
    <input {{action 'changeLetterGrade' gradeLetter}} type="radio" value={{gradeLetter}} name="grade" id={{gradeLetter}} >
  {{/if}}
    <span>{{gradeLetter}}</span>
  </label>

{{/each}}


