
<p>Letter Grade: {{tool.name}} m={{measurement}} g={{grade}}</p>
{{#each gradeList as |gradeLetter|}}
<label>{{input click=(action (mut grade) value="target.value" ) value=gradeLetter type="radio" name='grade' }} <span class="checkable">{{gradeLetter}}</span></label>
{{/each}}


