<div class="network">
  <h3>Network</h3>

  <ShowHide @divTitle="Info">
    <div class="boxRow">
      <ul>
        <li>Code: {{@model.networkCode}}</li>
        <li>Desc: {{@model.description}}</li>
        <li>Time Epoch:
          {{format-iso-date @model.startTime format='YYYY-MM-DD'}}
          {{#if @model.endTime}} to {{format-iso-date @model.endTime format='YYYY-MM-DD'}}
          {{else}}
          until&#8230;
          {{/if}}
        </li>
      </ul>
    </div>
  </ShowHide>
</div>

<ShowHide @divTitle="Map">
  <div class="boxRow">
    <QuakeStationMap @stations={{@model.stations}} />
  </div>
</ShowHide>


<div class="stationList">
  <ShowHide @divTitle="List">
    <div >
      <h3>Stations</h3>
      <StationList @stations={{@model.stations}}/>
    </div>
  </ShowHide>
</div>
