<div class="network">
  <h3>Network</h3>
  <ul>
    <li>Id: {{@model.id}}</li>
    <li>Code: {{@model.networkCode}}</li>
    <li>Start: {{format-iso-date @model.startTime format='YYYY-MM-DD'}}</li>
    <li>End: {{format-iso-date @model.endTime format='YYYY-MM-DD'}}</li>
    <li>Desc: {{@model.description}}</li>
  </ul>
</div>

<QuakeStationMap @stations={{@model.stations}} />


<div class="stationList">
<h3>Stations</h3>
<ul>
  {{#each @model.stations as |station|}}
    <li>
      <LinkTo @route='stations.station' @model={{station.id}} >
        {{station.stationCode}} - {{station.site.name}} {{station.site.description}}
      </LinkTo>
    </li>
  {{/each}}
</ul>
</div>
