
{{event-info event=model.event}}

<p>Status: {{model.sodStatus}}</p>

<ul>
{{#each model.ecps as |ecp|}}
  <li class="ecp">{{ecp.id}} 
{{#each ecp.channels as |ch|}} {{ch.siteCode}}.{{ch.channelCode}}{{/each}}
 {{ecp.sodStatus}} 
{{waveform-display waveform=ecp.waveform plotWidth=400 plotHeight=100}} 
</li>
{{/each}}
</ul>


{{outlet}}
