<div class="stationEventList">
<h3>Events:</h3>

{{event-station-map events=model.events stations=model }}

<table>
  <thead><th>Name</th><th>Time</th><th>Mag</th><th>Lat</th><th>Lon</th><th>Depth(km)</th><th>Status</th></thead>
  {{#each model.esps as |esp|}}
    <tr>
      <td>{{#link-to 'station.event' esp.station.id esp.id}}{{esp.event.name}}{{/link-to}}</td>
      <td>{{format-iso-date esp.event.prefOrigin.time }}</td>
      <td>{{esp.event.prefMagnitude.magFormatted}} {{esp.event.prefMagnitude.magType}}</td>
      <td>{{esp.event.prefOrigin.latitudeFormatted}}</td>
      <td>{{esp.event.prefOrigin.longitudeFormatted}}</td>
      <td>{{esp.event.prefOrigin.depth}} km</td>
      <td>{{esp.sodStatus}}</td>
    </tr>
  {{/each}}
</table>

</div>
