
<div class="quake">

{{quake-info quake=model.quake station=model.station}}

<p>Status: {{model.sodStatus}}</p>

{{quake-station-map quakes=model.quake stations=model.station}}

</div>

<div class="quake-station">
{{quake-station-info quakeStation=model }}
</div>

<div class="quake-station">

<h4>Waveforms: {{model.ecps.length}}  </h4>
<div>Phases: <button {{action "clearPhases"}}>Clear</button> {{phases}} {{input value=phaseToAdd enter="addPhases" }}</div>
{{#each model.ecps as |ecp|}}
  <div class="ecp">{{ecp.id}} 
  {{#each ecp.channels as |ch|}} {{ch.siteCode}}.{{ch.channelCode}}{{/each}}
  {{ecp.sodStatus}} 
</div>
{{/each}}
</div>
  {{waveform-display waveformList=model.allWaveforms quake=model.quake station=model.station plotWidth=400 plotHeight=100 phases=phases cookiejar=ecp.cookiejar }} 

{{outlet}}
