
<div class="network">
<ul>
<li>{{model.id}}</li>
<li>{{model.networkCode}}</li>
<li>{{format-iso-date model.startTime format='YYYY-MM-DD'}}</li>
<li>{{format-iso-date model.endTime format='YYYY-MM-DD'}}</li>
<li>{{model.description}}</li>
</ul>
</div>

{{outlet}}
