
<div class="network">
<ul>
<li>Id: {{model.id}}</li>
<li>Code: {{model.networkCode}}</li>
<li>Start: {{format-iso-date model.startTime format='YYYY-MM-DD'}}</li>
<li>End: {{format-iso-date model.endTime format='YYYY-MM-DD'}}</li>
<li>Desc: {{model.description}}</li>
</ul>

{{#event-station-map stations=model.stations}}
{{/event-station-map}}

{{outlet}}
</div>
