<nav>
  {{link-to "SOD Status" "index" class="brand"}}
  <!-- responsiveness-->
  <div class="menu">
    {{link-to "Dashboard" "index" class="pseudo button icon-gauge"}}
    {{link-to "Arms" "arms" class="pseudo button icon-users-1"}}
    {{link-to "Events" "events" class="pseudo button icon-users-1"}}
    {{link-to "Networks" "networks" class="pseudo button icon-user-add"}}
  </div>
</nav>
