<h1>Perusals</h1>

<ul>
  {{#each @model as |perusal|}}
    <li>
      Name: <LinkTo @route="perusals.perusal" @model={{perusal.id}} >{{perusal.name}}</LinkTo>
      ID: <LinkTo @route="perusals.perusal" @model={{perusal.id}} ><span class="small">{{perusal.id}}</span></LinkTo>
    </li>
  {{/each}}
</ul>

<LinkTo @route="perusals.new" >Create New Perusal</LinkTo>

{{outlet}}
