{{error}}

{{async-button action=(action "first" model) default="First" pending="Going..."}}
{{async-button action=(action "prev" model) default="Previous" pending="Going..." disableWhen=(not model.prev ) }}
{{async-button action=(action "save" model) default="Save" pending="Going..."}}
{{async-button action=(action "next" model) default="Next" pending="Going..." disableWhen=(not model.next) }}
Curr is {{perusals/quake-station-link quakeStation=model.curr primarySort=model.primarySort current=model.curr}} 
Next is {{perusals/quake-station-link quakeStation=model.next primarySort=model.primarySort current=model.curr}} 

<p>Found {{model.tools.length}} tools</p>
{{#each model.tools as |tool|}} 
  {{#if tool.toolType}}
    {{component (concat 'measurement/' tool.toolType) perusal=model tool=tool curr=model.curr }}
  {{else}}
    <span>Loading tool: {{tool.name}} {{tool.toolType}}</span>
  {{/if}}
{{/each}}

<div class='small-map'>
{{quake-station-map quakes=model.curr.quake stations=model.curr.station}}
</div>

<p>Perusal: {{model.id}} {{model.name}}</p>
<p>Quake: {{model.curr.quake.name}} {{format-iso-date  model.curr.quake.prefOrigin.time}} ({{ format-number model.curr.quake.prefOrigin.latitude}}, {{ format-number model.curr.quake.prefOrigin.longitude}})</p>
<p>Station: {{model.curr.station.codes}} ({{ format-number model.curr.station.latitude}}, {{ format-number model.curr.station.longitude}})</p>
<p>Num Ecps: {{model.curr.ecps.length}}</p>
{{#each model.curr.ecps as |ecp|}}
  <div class="ecp">
  {{waveform-display waveform=ecp.waveform quake=model.curr.quake station=model.curr.station plotWidth=400 plotHeight=100 phases=phases cookiejar=ecp.cookiejar }}
</div>
{{/each}}


<h3>Debugging/extra below here:</h3>

{{#link-to 'perusals'}}
All Perusals
{{/link-to}}

<ul>
  <li>ID: {{model.id}}</li>
  <li>Name: {{model.name}}</li>
  <li>User: {{model.username}}</li>
  <li>Primary Sort: {{model.primarySort}}</li>
  <li>Event Sort: {{model.eventSort}}</li>
  <li>Station Sort: {{model.stationSort}}</li>
  <li>Current Event: {{format-iso-date  model.curr.quake.prefOrigin.time}} {{model.curr.quake.name}}</li>
  <li>Current Station: {{model.curr.station.codes}}</li>
  <li>First: {{perusals/quake-station-link quakeStation=model.first primarySort=model.primarySort current=model.curr}} </li>
  <li>Prev: {{perusals/quake-station-link quakeStation=model.prev primarySort=model.primarySort current=model.curr}} </li>
  <li>Curr: {{perusals/quake-station-link quakeStation=model.curr primarySort=model.primarySort current=model.curr}} </li>
  <li>Next: {{perusals/quake-station-link quakeStation=model.next primarySort=model.primarySort current=model.curr}} </li>
  <li>Tools:
    <ul>
      {{#each model.tools as |tool|}}
        <li>{{tool.name}} {{tool.toolType}}</li>
      {{/each}}
   </ul>
  </li>
</ul>
<button {{action "delete"}}>Delete</button>
