

<div class='small-map'>
{{quake-station-map quakes=model.curr.quake stations=model.curr.station}}
</div>

<p>Quake: {{model.curr.quake.name}}</p>
<p>Station: {{model.curr.station.codes}}</p>

{{#each model.curr.ecps as |ecp|}}
  <div class="ecp">
  {{waveform-display waveform=ecp.waveform quake=model.curr.quake station=model.curr.station plotWidth=400 plotHeight=100 phases=phases cookiejar=ecp.cookiejar }}
</div>
{{/each}}


<h3>Debugging/extra below here:</h3>

{{#link-to 'perusals'}}
All Perusals
{{/link-to}}

<ul>
  <li>ID: {{model.id}}</li>
  <li>Name: {{model.name}}</li>
  <li>User: {{model.username}}</li>
  <li>Primary Sort: {{model.primarySort}}</li>
  <li>Event Sort: {{model.eventSort}}</li>
  <li>Station Sort: {{model.stationSort}}</li>
  <li>Current Event: {{format-iso-date  model.curr.quake.prefOrigin.time}} {{model.curr.quake.name}}</li>
  <li>Current Station: {{model.curr.station.codes}}</li>
  <li>Prev: {{perusals/quake-station-link quakeStation=model.prev primarySort=model.primarySort current=model.curr}} </li>
  <li>Curr: {{perusals/quake-station-link quakeStation=model.curr primarySort=model.primarySort current=model.curr}} </li>
  <li>Next: {{perusals/quake-station-link quakeStation=model.next primarySort=model.primarySort current=model.curr}} </li>
</ul>
