<div class="quakeList">
<h1>Events</h1>


{{#quake-station-map quakes=model}}
{{/quake-station-map}}


<table>
  <thead><th>Name</th><th>Time</th><th>Mag</th><th>Lat</th><th>Lon</th><th>Depth(km)</th><th>Status</th></thead>
  {{#each model as |e|}}
    <tr>
      <td>{{#link-to 'quakes.show.stations' e}}{{e.name}}{{/link-to}}</td>
      <td>{{format-iso-date e.prefOrigin.time }}</td>
      <td>{{e.prefMagnitude.magFormatted}} {{e.prefMagnitude.magType}}</td>
      <td>{{e.prefOrigin.latitudeFormatted}}</td>
      <td>{{e.prefOrigin.longitudeFormatted}}</td>
      <td>{{e.prefOrigin.depthFormatted}} km</td>
      <td>{{e.sodStatus}}</td>
    </tr>
  {{/each}}
</table>

</div>

{{outlet}}
