<h3>Stations</h3>

<ul>
  {{#each model as |s|}}
  <li>
    {{#link-to 'station.events' s.id}}
        {{s.network.networkCode}}.{{s.stationCode}} ({{s.latitudeFormatted}},{{s.longitudeFormatted}}) {{s.name}} {{s.description}} {{s.startTime}} {{s.endTime}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>
