<div class="stationList">
<h3>Stations</h3>

<ul>
  {{#each model as |s|}}
  <li>
    {{#link-to 'station.quakes' s.id}}
        {{s.network.networkCode}}.{{s.stationCode}} ({{s.latitudeFormatted}},{{s.longitudeFormatted}}) {{s.name}} {{s.description}} ({{format-iso-date s.startTime format='YYYY-MM-DD'}} - {{format-iso-date s.endTime format='YYYY-MM-DD'}})
    {{/link-to}}
  </li>
  {{/each}}
</ul>
</div>

